.chats-page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: calc(100vh - 48px);
  padding: 10px;
}

.input_message_container {
  form {
    display: flex;
    gap: 10px;
  }
}

.messages_container {
  display: flex;
  flex-direction: column;
  gap: 3px;

  .message_text {
    font-size: 16px;
    color: #bcbfd0;
  }

  .me {
    max-width: 60%;
    margin-right: 0;
    margin-left: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  
  .opponent {
    display: flex;
    flex-direction: column;
    gap: 3px;
    max-width: 60%;
    margin-right: auto;
    margin-left: 0;
  }
}

.chat_names {
  margin-bottom: 5px;
}

