.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    height: 48px;
    background-color: #242424;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 100;
    position: sticky;
    top: 0;
    border-bottom: var(--div_border);
    background: linear-gradient(
        180deg,
        rgba(10, 10, 10, 0.85) 0%,
        rgba(26, 26, 26, 0.8) 100%
    );
    backdrop-filter: blur(10px);
    overflow-x: clip;
}

.logo {
    color: #fff;
    font-size: 28px;
    font-weight: 1000;
    transition: color 0.2s ease;
}

.logo:hover {
    color: var(--btn_bg_color-active);
}

.nav_links {
    display: flex;
    gap: 24px;
    align-items: center;
}

.auth_button {
    display: flex;
    align-items: center;
    gap: 3px;
}